a.out
simv*
*.vcd
csrc/
verdi*
*.key
.nfs*
/cpu/*
.inter.fsdb.tbsim
.vcs_checkpoint*
dump.fsdb
inter*
novas*
alib-52
work
moduleparamid
rtl/build/
rtl/SRAM/build/
rtl/aes/build/
rtl/cpu/build/ 
*.log*
*.svf
*.cmd*
*.rpt*
*.bin
system_top*
timingReports