*.log*
innovus.log
encounter.log

*.logv*

*.cmd*
innovus.cmd
encounter.cmd
session.tcl

*.dvi
*.dvh
*.dcap
*.dump
*.dat
*.sig

report/
reports/
timingReports/
timing_report/
drc_out/
lvs_out/
CTS_Report/

*.rpt
*.tns
*.out
*.sta
*.summary

checkpoints/
temp_gds/
temp_def/

innovus_temp*/
.timing_file*
